
    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：商品管理>编辑商品
        </div>
        <div class="pannel">
            <form name = logon  method="post" action="/UpdateArticle" enctype="multipart/form-data">
            <h3 class="review_title">编辑商品</h3>
            <div class="form_group">
                <label>商品标题：</label>
                <input type="text" class="input_txt2" name = "goodsName" value="{{.goods.Name}}">
            </div>
            <div class="form_group">
                <label>商品描述：</label>
                <textarea class="input_multxt" name="Desc">{{.goods.Desc}}</textarea></textarea>
            </div>
            <div class="form_group">
                <label>上传图片：</label>
                <img src="{{.goods.Image}}">
                <input type="file" name="uploadname"     class="input_file">
            </div>
            <div class="form_group">
                <label>商品价格：</label>
                <input type="text" class="input_txt2" name = "goodsPrice" value="{{.goods.Price}}">
            </div>
            <div class="form_group">
                <label>商品库存：</label>
                <input type="text" class="input_txt2" name = "goodsStock" value="{{.goods.Stock}}">
            </div>
            <input name="id" value="{{.goods.Id}}" hidden="hidden">
            <div class="form_group indent_group line_top">
                <input type="submit" value="更 新" class="confirm">
                <span>{{.errmsg}}</span>
            </div>
        </form>

        </div>

    </div>


