<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：商品管理>添加类别>类别详情
    </div>
    <div class="pannel">
        <h3 class="review_title">类别详情</h3>
        <div class="form_group">
            <label>类型名称：</label>
            <p class="detail"><b>{{.goodsType.Name}}</b></p>
        </div>


        <div class="form_group">
            <label>类型图片：</label>
            <p class="detail"><img src="http://192.168.88.130:8888/{{.goodsType.Image}}"></p>
        </div>
    </div>
</div>


